<div class="flex min-h-full flex-col justify-center :py-12 sm:px-6 lg:px-8">
  <div class="flex flex-row justify-center">
    <div class="text-center text-3xl mb-16 p-5 bg-gray-800 text-white font-bold w-1/4 rounded-xl"><%= ENV["APP_NAME"] %></div>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"><%= I18n.t(".devise.confirmations.resend") %></h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= render "devise/shared/error_messages" %>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <div class="mt-3">
          <label for="email" class="block text-sm font-medium text-gray-700"><%= I18n.t('.activerecord.attributes.user.email') %></label>
          <div class="mt-1">
            <%= f.text_field :email, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-zinc-500 focus:outline-none focus:ring-zinc-500 sm:text-sm", autofocus: true %>
          </div>
        </div>
        <div class="mt-5">
          <%= f.submit(class: 'flex w-full justify-center rounded-md border border-transparent bg-gray-800 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2', value: I18n.t(".devise.confirmations.resend")) %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>