<%= turbo_frame_tag dom_id(dp_task) do %>
  <% status = dp_task.status == "active" ? "border-l-green-500" : "border-l-gray-500" %>

  <% decorate dp_task do |decorates| %>
    <li class="bg-gray-50 mb-1 px-4 py-2 shadow-sm ring-1 ring-gray-900/5 sm:rounded-lg border-l-8 <%= status %> border-t border-r border-b border-gray-300 flex flex-row justify-between gap-x-6">
      <div class="w-11/12 flex flex-col">
        <div class="w-full border-b border-gray-400 pb-1">
          <p class="text-sm font-semibold leading-6 text-gray-700"><%= dp_task.name %></p>
        </div>

        <% cols = dp_task.description.blank? ? "grid-cols-2" : "grid-cols-3" %>

        <div class="mt-2 grid <%= cols %> gap-x-2 gap-y-1">
          <% unless dp_task.description.blank? %>
            <div class="text-xs text-gray-800 text-left"><%= I18n.t(".dp_task.form.description") %></div>
          <% end %>
          <div class="text-xs text-gray-800 text-left"><%= I18n.t(".dp_task.form.task_key") %></div>
          <div class="text-xs text-gray-800 text-center"><%= I18n.t(".dp_task.form.depends_on") %></div>

          <% unless dp_task.description.blank? %>
            <div class="text-xs text-gray-500 text-left truncate"><%= decorates.data_field(dp_task.description) %></div>
          <% end %>
          <div class="text-xs text-gray-500 text-left truncate"><%= decorates.data_field(dp_task.task_key) %></div>
          <div class="w-full text-center text-xs text-gray-500"><%= decorates.depends_on %></div>
        </div>
      </div>
      <div class="w-1/12 flex flex-col items-center gap-x-0">
        <% if can?(:write, :data_pipelines) %>
          <%= render "dwh/dp_tasks/pause_start", dp_task: dp_task %>
        <% end %>

        <% if can?(:write, :data_pipelines) %>
          <%= link_to edit_dwh_dp_task_path(dp_task) do %>
            <%= render(View::IconComponent.new(icon_type: "edit", size: "small", color: "gray")) %>
          <% end %>
        <% end %>

        <% if can?(:delete, :data_pipelines) %>
          <%= button_to dwh_dp_task_path(dp_task), method: :delete, class: "mt-2" do %>
            <%= render(View::IconComponent.new(icon_type: "delete", size: "small", color: "gray")) %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
<% end %>