<%= render "shared/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t(".employee.titles.show"), 
  icon: ["users", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-6 flex flex-col justify-center">

    <%= render "employees/employee_info", dim_user: @dim_user, dim_account: @dim_account, dim_company: @dim_company, start_date: @start_date %>

    <div class="my-10">
      <nav class="isolate flex divide-x divide-gray-200 rounded-lg shadow" aria-label="Tabs">
        <%= link_to employee_path(view: "holiday"), class: "group relative min-w-0 flex-1 overflow-hidden rounded-l-lg bg-white px-4 py-4 focus:z-10" do %>
          <div class="flex items-center justify-center">
            <%= render(View::IconComponent.new(icon_type: "holiday", size: "medium", color: "gray")) %>
            <span class="text-gray-900 ml-2"><%= I18n.t(".data_overview.titles.holiday_overview").downcase %></span>
          </div>
          <span aria-hidden="true" class="<%= @view == "holiday" ? "bg-indigo-500" : "bg-transparent" %> absolute inset-x-0 bottom-0 h-0.5"></span>
        <% end %>
        <%= link_to employee_path(view: "bonus"), class: "group relative min-w-0 flex-1 overflow-hidden rounded-l-lg bg-white px-4 py-4 focus:z-10" do %>
          <div class="flex items-center justify-center">
            <%= render(View::IconComponent.new(icon_type: "bonus", size: "medium", color: "gray")) %>
            <span class="text-gray-900 ml-2"><%= I18n.t(".data_overview.titles.bonus_overview").downcase %></span>
          </div>
          <span aria-hidden="true" class="<%= @view == "bonus" ? "bg-indigo-500" : "bg-transparent" %> absolute inset-x-0 bottom-0 h-0.5"></span>
        <% end %>
        <%= link_to employee_path(view: "children_leave"), class: "group relative min-w-0 flex-1 overflow-hidden rounded-l-lg bg-white px-4 py-4 focus:z-10" do %>
          <div class="flex items-center justify-center">
            <%= render(View::IconComponent.new(icon_type: "child", size: "medium", color: "gray")) %>
            <span class="text-gray-900 ml-2"><%= I18n.t(".data_overview.titles.children_leave_overview").downcase %></span>
          </div>
          <span aria-hidden="true" class="<%= @view == "children_leave" ? "bg-indigo-500" : "bg-transparent" %> absolute inset-x-0 bottom-0 h-0.5"></span>
        <% end %>
      </nav>
    </div>

    <% if @view == "bonus" %>
      <%= render "data_overviews/bonus", dim_user: @dim_user %>
    <% elsif @view == "holiday" %>
      <%= render "data_overviews/holiday", dim_user: @dim_user %>
    <% elsif @view == "children_leave" %>
      <%= render "data_overviews/children_leave", dim_user: @dim_user %>
    <% end %>

  </div>
</main>