<div class="w-full flex flex-row justify-center space-x-8 mb-10">
  <%= link_to users_path(view: "users") do %>
    <div class="w-48 flex flex-col items-center p-4 rounded-lg border-gray-700 <%= view == "users" ? 'bg-gray-300 border-2' : 'bg-gray-50 border' %>">
      <%= render(View::IconComponent.new(icon_type: "users", size: "medium", color: "gray")) %>
      <h1 class="text-xl font-bold mt-2"><%= I18n.t('.user.titles.index') %></h1>
    </div>
  <% end %>
  <%= link_to users_path(view: "roles") do %>
    <div class="w-48 flex flex-col items-center p-4 rounded-lg border-gray-700 <%= view == "roles" ? 'bg-gray-300 border-2' : 'bg-gray-50 border' %>">
      <%= render(View::IconComponent.new(icon_type: "lock", size: "medium", color: "gray")) %>
      <h1 class="text-xl font-bold mt-2"><%= I18n.t('.role.titles.index') %></h1>
    </div>
  <% end %>
</div>
