<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.data_governance.titles.index'), 
  icon: ["certificate", "medium", "gray"],
  buttons: []
%>

<main>
  <div class="mx-auto max-w-4xl flex flex-row justify-center mt-32">
    <div class="grid grid-cols-2 gap-10 w-full">
      
      <div class="overflow-hidden rounded-lg bg-white border border-gray-200 shadow-sm">
        <div class="px-4 py-5 sm:p-6 h-80 flex flex-col justify-center items-center">
          <%= render(View::IconComponent.new(icon_type: "check", size: "large", color: "gray")) %>
          <div class="text-gray-800 text-2xl text-center mt-10"><%= I18n.t(".data_governance.titles.data_quality").downcase %></div>
        </div>
      </div>
      
      <div class="overflow-hidden rounded-lg bg-white border border-gray-200 shadow-sm">
        <div class="px-4 py-5 sm:p-6 h-80 flex flex-col justify-center items-center">
          <%= render(View::IconComponent.new(icon_type: "security", size: "large", color: "gray")) %>
          <div class="text-gray-800 text-2xl text-center mt-10"><%= I18n.t(".data_governance.titles.data_security").downcase %></div>
        </div>
      </div>

      <div class="overflow-hidden rounded-lg bg-white border border-gray-200 shadow-sm">
        <div class="px-4 py-5 sm:p-6 h-80 flex flex-col justify-center items-center">
          <%= render(View::IconComponent.new(icon_type: "log", size: "large", color: "gray")) %>
          <div class="text-gray-800 text-2xl text-center mt-10"><%= I18n.t(".data_governance.titles.data_logging").downcase %></div>
        </div>
      </div>

      <div class="overflow-hidden rounded-lg bg-white border border-gray-200 shadow-sm">
        <div class="px-4 py-5 sm:p-6 h-80 flex flex-col justify-center items-center">
          <%= render(View::IconComponent.new(icon_type: "catalog", size: "large", color: "gray")) %>
          <div class="text-gray-800 text-2xl text-center mt-10"><%= I18n.t(".data_governance.titles.data_catalog").downcase %></div>
        </div>
      </div>

    </div>
  </div>
</main>