<div id="ct-<%= company_target.id %>" >
  <% decorate company_target do |decorates| %>
    <div class="bg-white grid grid-cols-11">
      <%= render(DivTable::CellComponent.new(value: "#{company_target.year} - Q#{company_target.quarter}", align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: I18n.t("date.month_names")[company_target.month].capitalize, align: "text-left", mobile: "show")) %>

      <div class="table-cell px-2 pt-2 h-9 whitespace-nowrap text-center text-xs text-gray-900"><%= company_target.fte %></div>
      <div class="table-cell px-2 pt-2 h-9 whitespace-nowrap text-center text-xs text-gray-900"><%= company_target.billable_hours %></div>
      <div class="table-cell px-2 pt-2 h-9 whitespace-nowrap text-center text-xs text-gray-900"><%= "#{company_target.bruto_margin.round(1)}%" %></div>
      <div class="table-cell px-2 pt-2 h-9 whitespace-nowrap text-center text-xs text-gray-900"><%= company_target.cost_price %></div>

      <%= render(DivTable::CellComponent.new(value: company_target.workable_hours.round(0), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: company_target.productivity, align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: company_target.hour_rate, align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: company_target.fte_delta, align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: company_target.turnover, align: "text-center", mobile: "show")) %>
    </div>
  <% end %>
</div>