<div id="ct-<%= data_target.id %>" >
  <% decorate data_target do |decorates| %>
    <div class="bg-white grid grid-cols-11">
      <%= render(DivTable::CellComponent.new(value: "#{data_target.year} - Q#{data_target.quarter}", align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: I18n.t(".data_target.date.month_names")[data_target.month].capitalize, align: "text-left", mobile: "show")) %>

      <div class="table-cell px-2 pt-2 h-9 whitespace-nowrap text-center text-xs text-gray-900"><%= data_target.fte %></div>
      <div class="table-cell px-2 pt-2 h-9 whitespace-nowrap text-center text-xs text-gray-900"><%= data_target.billable_hours %></div>
      <div class="table-cell px-2 pt-2 h-9 whitespace-nowrap text-center text-xs text-gray-900"><%= "#{data_target.bruto_margin.round(1)}%" %></div>
      <div class="table-cell px-2 pt-2 h-9 whitespace-nowrap text-center text-xs text-gray-900"><%= data_target.cost_price %></div>

      <%= render(DivTable::CellComponent.new(value: data_target.workable_hours.round(0), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: data_target.productivity, align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: data_target.hour_rate, align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: data_target.fte_delta, align: "text-center", mobile: "show")) %>
      <%= render(DivTable::CellComponent.new(value: data_target.turnover, align: "text-center", mobile: "show")) %>
    </div>
  <% end %>
</div>