<div id="<%= role %>-quarters-table" class="bg-gray-50 rounded-lg p-4 my-3 border border-gray-300 mt-5">
  <div class="min-w-full divide-y divide-gray-200">
    <div class="bg-gray-50 grid grid-cols-1">
      <%= render(DivTable::HeaderComponent.new(title: "#{I18n.t('.data_target.form.fte_previous')}: #{DwhCalculator.new.fte_previous_year(@company, role, @year)}", align: "text-left", mobile: "show")) %>
    </div>
    <div class="bg-gray-50 grid grid-cols-11">
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.year'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.month'), align: "text-left", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.fte'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.billable_hours'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.bruto_margin'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.cost_price'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.workable_hours'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.productivity'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.hour_rate'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.fte_delta'), align: "text-center", mobile: "show")) %>
      <%= render(DivTable::HeaderComponent.new(title: I18n.t('.data_target.form.turnover'), align: "text-center", mobile: "show")) %>
    </div>

    <% @total_billable_hours  = 0 %>
    <% @total_bruto_margin    = 0.0 %>
    <% @total_cost_price      = 0.0 %>
    <% @total_workable_hours  = 0 %>
    <% @total_productivity    = 0.0 %>
    <% @total_hour_rate       = 0.0 %>
    <% @total_fte_delta       = 0.0 %>
    <% @total_turnover        = 0.0 %>
    <% @nr_months_filled      = 0 %>

    <% targets = data_targets.where(role: role) %>
    <% if targets.blank? %>
      <div class="bg-white grid grid-cols-1">
        <div class="table-cell h-20 pt-7 whitespace-nowrap text-xm text-center text-gray-900"><%= I18n.t('.data_target.titles.no_records') %></div>
      </div>
    <% else %>
      <% targets.each do |data_target| %>
        <% dump "HUH #{data_target.turnover}" %>
        <%= render "data_target", data_target: data_target %>

        <% decorate data_target do |decorates| %>
          <% @total_billable_hours  += data_target.billable_hours %>
          <% @total_bruto_margin    += data_target.bruto_margin %>
          <% @total_cost_price      += data_target.cost_price %>
          <% @total_workable_hours  += data_target.workable_hours %>
          <% @total_productivity    += data_target.productivity(false) %>
          <% @total_hour_rate       += data_target.hour_rate(false) %>
          <% @total_fte_delta       += data_target.fte_delta %>
          <% @total_turnover        += data_target.turnover(false) %>
          <% @nr_months_filled      += 1 if data_target.fte > 0 %>
        <% end %>
      <% end %>
    <% end %>

    <% decorate data_targets.first do |decorates| %>
      <div class="bg-gray-50 grid grid-cols-11">
        <%= render(DivTable::HeaderComponent.new(title: nil, align: "text-center", mobile: "show")) %>
        <%= render(DivTable::HeaderComponent.new(title: nil, align: "text-left", mobile: "show")) %>
        <%= render(DivTable::HeaderComponent.new(title: nil, align: "text-right", mobile: "show")) %>

        <div class="table-cell align-top px-2 py-3 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">
          <span id="<%= role %>_workable_hours"><%= decorates.sum(@total_billable_hours) %></span>
        </div>
        <div class="table-cell align-top px-2 py-3 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">
          <span id="<%= role %>_bruto_margin"><%= "#{decorates.avg(@total_bruto_margin, @nr_months_filled)}%" %></span>
        </div>
        <div class="table-cell align-top px-2 py-3 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">
          <span id="<%= role %>_cost_price"><%= decorates.avg(@total_cost_price, @nr_months_filled) %></span>
        </div>

        <%= render(DivTable::HeaderComponent.new(title: decorates.sum(@total_workable_hours), align: "text-center", mobile: "show")) %>

        <div class="table-cell align-top px-2 py-3 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">
          <span id="<%= role %>_productivity"><%= "#{decorates.avg(@total_productivity, @nr_months_filled)}%" %></span>
        </div>
        <div class="table-cell align-top px-2 py-3 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">
          <span id="<%= role %>_hour_rate"><%= decorates.avg(@total_hour_rate, @nr_months_filled) %></span>
        </div>
        <div class="table-cell align-top px-2 py-3 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">
          <span id="<%= role %>_fte_delta"><%= decorates.sum(@total_fte_delta) %></span>
        </div>
        <div class="table-cell align-top px-2 py-3 text-center text-xs font-medium text-gray-700 uppercase tracking-wider">
          <span id="<%= role %>_turnover"><%= decorates.sum(@total_turnover) %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>