<%= turbo_frame_tag dom_id(report, :name) do %>
  <span class="cursor-pointer hover:text-gray-600 flex items-center gap-1" onclick="this.nextElementSibling.classList.remove('hidden'); this.classList.add('hidden');">
    <%= report.name %>
    <% if report.user_id == current_user.id %>
      <div class="pl-1 pt-1">
        <%= render(View::IconComponent.new(icon_type: "edit", size: "small", color: "gray")) %>
      </div>
    <% end %>
  </span>
  
  <%= form_with(model: report, 
                url: datalab_report_path(report), 
                class: "hidden",
                data: { controller: "form", action: "turbo:submit-end->form#reset" }) do |f| %>
    <div class="flex items-center gap-2">
      <%= f.text_field :name, 
          value: report.name,
          class: "w-80 bg-gray-50 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6",
          onblur: "this.form.requestSubmit()" %>
    </div>
  <% end %>
<% end %> 