<%= render "shared/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.datalab.report.titles.generate'),
  icon: ["datalab", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-6 mt-2 flex flex-col">

    <div class="flex flex-row justify-center w-full">
      <div class="w-2/3 overflow-hidden rounded-lg bg-white border border-gray-200 mb-5">
        <div class="px-4 py-5 sm:p-6 flex flex-col">
          <div class="text-sm text-center"><%= I18n.t('.datalab.report.titles.generate_explanation1') %></div>
          <div class="text-sm text-center"><%= I18n.t('.datalab.report.titles.generate_explanation2') %></div>
          <div class="flex flex-row justify-center space-x-2 mt-5">
            <%= link_to I18n.t('.general.edit').downcase, datalab_designer_path(@report), class: "px-4 py-2 text-sm text-gray-700 bg-gray-100 hover:bg-gray-50 mr-1 border border-gray-300 shadow-sm font-medium rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
            <%= link_to I18n.t('.datalab.report.titles.show_final').downcase, datalab_report_path(@report), class: "px-4 py-2 text-sm text-gray-700 bg-gray-100 hover:bg-gray-50 mr-1 border border-gray-300 shadow-sm font-medium rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
          </div>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag "report_data" do %>
      <div class="overflow-x-auto">
        <table class="min-w-full">
          <%= render "table_header", report_data: @report_data, anchor_service: @anchor_service, report: @report %>
          <tbody class="divide-y divide-gray-200">
            <%= render "table_rows", report_data: @report_data %>
          </tbody>
        </table>
      </div>
    <% end %>
  
  </div>
</main>