<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.datalab.report.titles.generate'),
  icon: ["datalab", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-6 mt-2 flex flex-col">

    <div class="flex flex-row justify-center w-full">
      <div class="w-2/3 overflow-hidden rounded-lg bg-gray-50 border border-gray-200 mb-5">
        <div class="px-4 py-5 sm:p-6 flex flex-col">
          <div class="text-sm text-center"><%= I18n.t('.datalab.report.titles.generate_explanation1') %></div>
          <div class="text-sm text-center"><%= I18n.t('.datalab.report.titles.generate_explanation2') %></div>
          <div class="flex flex-row justify-center space-x-2 mt-5">
            <%= link_to I18n.t('.general.edit').downcase, datalab_designer_path(@report), class: "px-4 py-2 text-sm text-gray-700 bg-gray-100 hover:bg-gray-50 mr-1 border border-gray-300 shadow-sm font-medium rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
            <%= link_to I18n.t('.datalab.report.titles.show_final').downcase, datalab_report_path(@report), class: "px-4 py-2 text-sm text-gray-700 bg-gray-100 hover:bg-gray-50 mr-1 border border-gray-300 shadow-sm font-medium rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
          </div>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag "report_data" do %>
      <table class="min-w-full">
        <thead>
          <tr>
            <% @report_data[:columns].each do |column| %>
              <th scope="col" class="p-1 text-left text-sm font-semibold text-gray-900 border border-gray-400 bg-gray-100">
                <% if @anchor_service.sortable_attributes.include?(column[:id].to_sym) %>
                  <%= sort_link(@report, column[:id], column[:name]) %>
                <% else %>
                  <%= column[:name] %>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <%= render "table_rows", report_data: @report_data %>
        </tbody>
      </table>      
    <% end %>
  
  </div>
</main>