<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.datalab.report.titles.index'), 
  icon: ["datalab", "medium", "gray"],
  buttons: [[I18n.t('.datalab.report.titles.new'), new_datalab_report_path]]
%>

<main>
  <div class="mx-auto max-w-8xl py-6 mt-2">

    <h2 class="my-5 text-xl pb-2 border-b-2 border-gray-400 font-semibold leading-7 text-gray-900"><%= I18n.t('.datalab.report.titles.my_reports') %></h2>

    <% if @reports.any? %>
      <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-lg mb-8">
        <%= render "report_list", reports: @reports, show_actions: true %>
      </div>
    <% end %>

    <% if @shared_reports.any? %>
      <h2 class="my-5 text-xl pb-2 border-b-2 border-gray-400 font-semibold leading-7 text-gray-900"><%= I18n.t('.datalab.report.titles.shared_reports') %></h2>
      <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-lg mb-8">      
        <%= render "report_list", reports: @shared_reports, show_actions: false %>
      </div>
    <% end %>

  </div>
</main>