<% if @report.user_id == current_user.id %>
  <% buttons = [[I18n.t('.general.delete').downcase, datalab_report_path(@report), "delete"], [I18n.t('.general.edit').downcase, datalab_designer_path(@report)], [I18n.t('.general.export').downcase, export_datalab_report_path(@report, format: :csv)]] %>
<% else %>
  <% buttons = [[I18n.t('.general.export').downcase, export_datalab_report_path(@report, format: :csv)]] %>
<% end %>

<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: "#{I18n.t('.datalab.report.titles.show')}: #{@report.name}", 
  icon: ["datalab", "medium", "gray"],
  buttons: buttons
%>

<main>
  <div class="mx-auto max-w-8xl py-6 mt-2 flex flex-col">

    <%= render "filter", anchor_service: @anchor_service %>

    <%= turbo_frame_tag "report_data" do %>

      <% if @pagy.pages > 1 %>
        <div class="px-4 py-3 border-t border-gray-200">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>

      <% unless @summary.blank? %>
        <div class="w-full flex flex-row justify-center space-x-4">
          <% @summary.each do |key, value| %>
            <div class="bg-gray-100 shadow-sm ring-1 ring-gray-900/5 sm:rounded-lg px-6 py-4 mb-4 border border-gray-100 flex flex-col">
              <span class="text-2xl font bold text-center"><%= value[0] %></span>
              <span class="text-base text-center"><%= value[1] %></span>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="overflow-x-auto">
        <table class="min-w-full">
          <%= render "table_header", report_data: @report_data, anchor_service: @anchor_service, report: @report, records: @records %>
          <tbody class="divide-y divide-gray-200">
            <%= render "table_rows", report_data: @report_data %>
          </tbody>
        </table>
      </div>
      
      <% if @pagy.pages > 1 %>
        <div class="px-4 py-3 border-t border-gray-200">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    <% end %>
  
  </div>
</main>