<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.datalab.titles.index'), 
  icon: ["datalab", "medium", "gray"],
  buttons: [[I18n.t('.datalab.titles.reset_session'), datalab_index_path(reset_session: true)]]
%>

<main>
  <div class="mx-auto max-w-8xl py-2 md:py-6">

    <div id="chats" class="py-4">
      <% @chat_history.each do |chat| %>
        <%= render partial: "chat", locals: { chat: chat } %>
      <% end %>
    </div>

    <%= form_with url: chat_datalab_index_path, 
              class: "space-y-4",
              data: { 
                controller: "chat", 
                action: "turbo:submit-start->chat#handleSubmit turbo:submit-end->chat#handleResponse",
                chat_loading_html: render("layouts/loading")
              } do |f| %>
      <%= f.hidden_field :session_id, value: @chat_session_id %>
      <%= f.text_area :query, class: "w-full p-2 border rounded", placeholder: I18n.t('.datalab.titles.chat_question'), data: { chat_target: "input" } %>
      <%= f.submit I18n.t('.datalab.titles.chat_button'), class: "whitespace-nowrap text-gray-700 bg-gray-100 hover:bg-gray-50 sm:h-10 mt-1 px-1 px-2 sm:px-4 py-2 text-sm mr-1 border border-gray-300 shadow-sm font-medium rounded" %>
    <% end %>
  </div>
</main>
