<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.datalab.titles.index'), 
  icon: ["datalab", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-2 md:py-6">

    <div id="chat_results" class="space-y-4">
      <%= render partial: "results" if @response %>
    </div>

    <%= form_with url: chat_datalab_index_path, class: "space-y-4",data: { controller: "chat", action: "turbo:submit-end->chat#handleResponse" } do |f| %>
      <%= f.text_area :query, class: "w-full p-2 border rounded", placeholder: I18n.t('.datalab.titles.chat_question'), data: { chat_target: "input" } %>
      <%= f.submit I18n.t('.datalab.titles.chat_button'), class: "bg-gray-800 text-white px-4 py-2 rounded" %>
    <% end %>

    <div id="chat_history" class="mt-8 hidden">
      <h2 class="text-xl font-bold mb-4"><%= I18n.t('.datalab.titles.chat_history') %></h2>
      <%= render partial: "chat_history", collection: @chat_history %>
    </div>

  </div>
</main>
