<%= turbo_frame_tag dom_id(dp_pipeline) do %>
  <% decorate dp_pipeline do |decorates| %>
    <% status = dp_pipeline.status == "active" ? "border-l-green-500" : "border-l-gray-500" %>

    <div class="bg-gray-50 -mx-4 px-4 py-8 shadow-sm ring-1 ring-gray-900/5 sm:mx-0 sm:rounded-lg sm:px-8 sm:pb-4 my-3 border-l-8 <%= status %> border-t border-r border-b border-gray-300">
      <div class="flex flex-row justify-between">
        <h2 class="pt-3 text-3xl font-semibold leading-6 text-gray-700"><%= dp_pipeline.name %></h2>
        <div class="w-3/12 flex flex-row justify-center mt-2">
          <% unless @dp_runs.blank? %>
            <%= render "dwh/dp_runs/quality_checks_overall", size: "medium", dp_run: @dp_runs.first, dp_quality_checks: @dp_runs.first.dp_quality_checks %>
          <% end %>
        </div>
        <div class="w-3/12 flex flex-row justify-end h-10 mt-3">
          <%= render(View::ButtonComponent.new(title: I18n.t(".general.edit"), url: edit_dwh_dp_pipeline_path(dp_pipeline), button_type: "link", size: "medium")) %>
        </div>
      </div>
      <dl class="mt-1 grid grid-cols-4 text-sm leading-6 w-full">
        <div class="mt-6 border-t border-gray-200 pt-6 sm:pr-4">
          <dt class="font-semibold text-gray-700 text-center"><%= I18n.t('.dp_pipeline.form.pipeline_key') %></dt>
          <dd class="mt-2 text-gray-500 text-center"><%= decorates.data_field(dp_pipeline.pipeline_key) %></dd>
        </div>
        <div class="mt-6 border-t border-gray-200 pt-6 sm:pr-4">
          <dt class="font-semibold text-gray-700 text-center"><%= I18n.t('.dp_pipeline.form.month') %></dt>
          <dd class="mt-2 text-gray-500 text-center">
            <% if dp_pipeline.month.blank? %>
              <%= "-" %>
            <% else %>
              <%= decorates.data_field(I18n.t("date.month_names")[dp_pipeline.month].capitalize) %></dd>
            <% end %>
        </div>
        <div class="mt-6 border-t border-gray-200 pt-6 sm:pr-4">
          <dt class="font-semibold text-gray-700 text-center"><%= I18n.t('.dp_pipeline.form.year') %></dt>
          <dd class="mt-2 text-gray-500 text-center"><%= decorates.data_field(dp_pipeline.year) %></dd>
        </div>
        <div class="mt-6 border-t border-gray-200 pt-6 sm:pr-4">
          <dt class="font-semibold text-gray-700 text-center"><%= I18n.t('.dp_pipeline.form.scoped_user_id') %></dt>
          <dd class="mt-2 text-gray-500 text-center"><%= decorates.data_field(dp_pipeline.scoped_user_id) %></dd>
        </div>
      </dl>
      <dl class="mt-1 grid grid-cols-4 text-sm leading-6 w-full">
        <div class="mt-6 border-t border-gray-200 pt-6 sm:pr-4">
          <dt class="font-semibold text-gray-700 text-center"><%= I18n.t('.dp_pipeline.form.account_id') %></dt>
          <dd class="mt-2 text-gray-500 text-center"><%= decorates.account %></dd>
        </div>
        <div class="mt-6 border-t border-gray-200 pt-6 sm:pr-4">
          <dt class="font-semibold text-gray-700 text-center"><%= I18n.t('.dp_pipeline.form.frequency') %></dt>
          <dd class="mt-2 text-gray-500 text-center"><%= decorates.frequency %></dd>
        </div>
        <div class="mt-6 border-t border-gray-200 pt-6 sm:pr-4">
          <dt class="font-semibold text-gray-700 text-center"><%= I18n.t('.dp_pipeline.form.dp_runs_count') %></dt>
          <dd class="mt-2 text-gray-500 text-center"><%= decorates.data_field(dp_pipeline.dp_runs_count) %></dd>
        </div>
        <div class="mt-6 border-t border-gray-200 pt-6 sm:pr-4">
          <dt class="font-semibold text-gray-700 text-center"><%= I18n.t('.dp_pipeline.form.dp_tasks_count') %></dt>
          <dd class="mt-2 text-gray-500 text-center"><%= decorates.data_field(dp_pipeline.dp_tasks_count) %></dd>
        </div>
      </dl>
      <div class="mt-6 flex flex-row justify-center w-full border-t border-gray-200 p-5">
        <%= decorates.progress("large") %>
      </div>
    </div>
  <% end %>
<% end %>