<%= form_with(model: @dp_pipeline, url: @dp_pipeline.new_record? ? dwh_dp_pipelines_path : dwh_dp_pipeline_path(@dp_pipeline), method: @dp_pipeline.new_record? ? :post : :patch, local: true) do |form| %>
  <div class="mt-2 space-y-8 divide-y divide-gray-200 bg-white p-10">
    <%= render "shared/error_messages", resource: @dp_pipeline %>

    <div class="divide-y divide-gray-200 sm:space-y-5">
      <div class="sm:pt-2 sm:space-y-5">
        <span class="text-sm italic"><%= I18n.t(".general.mandatory") %></span>

        <%= render(Form::SelectComponent.new(label: I18n.t(".dp_pipeline.form.account_id"), form: form, attribute: :account_id, collection: @accounts, value: :name, mandatory: true)) %>
        <%= render(Form::TextFieldComponent.new(label: I18n.t(".dp_pipeline.form.name"), form: form, attribute: :name, mandatory: true, autofocus: true, width: "medium")) %>
        <%= render(Form::TextFieldComponent.new(label: I18n.t(".dp_pipeline.form.pipeline_key"), form: form, attribute: :pipeline_key, mandatory: true, autofocus: false, width: "medium")) %>

        <% collection = [['hourly', I18n.t('.dp_pipeline.frequencies.hourly')],['daily', I18n.t('.dp_pipeline.frequencies.daily')]] %>
        <%= render(Form::SelectComponent.new(label: I18n.t(".dp_pipeline.form.run_frequency"), form: form, attribute: :run_frequency, collection: collection, value: nil, mandatory: true)) %>

        <% collection = [['active', I18n.t('.dp_pipeline.states.active')],['inactive', I18n.t('.dp_pipeline.states.inactive')]] %>
        <%= render(Form::SelectComponent.new(label: I18n.t(".dp_pipeline.form.status"), form: form, attribute: :status, collection: collection, value: nil, mandatory: true)) %>

        <div class="grid grid-cols-3 gap-4 items-start border-t border-gray-200 pt-5">
          <div class="col-start-2">
            <%= render(View::ButtonComponent.new(title: I18n.t(".general.save"), url: dwh_dp_pipelines_path, button_type: "button", size: "medium")) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
