<div class="flex flex-row justify-center mt-40">
  <div class="grid grid-cols-2 gap-10 w-3/4">
    <div class="overflow-hidden rounded-lg bg-gray-100 border border-gray-200 shadow-sm hover:bg-gray-200">
      <div class="px-4 py-5 sm:p-6 h-80">
        <!-- Content goes here -->
      </div>
    </div>

    <%= link_to dw_dp_pipelines_path do %>
      <div class="overflow-hidden rounded-lg bg-gray-100 border border-gray-200 shadow-sm hover:bg-gray-200">
        <div class="px-4 py-5 sm:p-6 h-80 flex flex-col justify-center items-center">
          <%= render(View::IconComponent.new(icon_type: "pipeline", size: "large", color: "gray")) %>
          <div class="text-gray-800 text-2xl text-center mt-10"><%= I18n.t(".dp_pipeline.titles.index").downcase %></div>
        </div>
      </div>
    <% end %>
    <div class="overflow-hidden rounded-lg bg-gray-100 border border-gray-200 shadow-sm hover:bg-gray-200">
      <div class="px-4 py-5 sm:p-6 h-80">
        <!-- Content goes here -->
      </div>
    </div>

    <%= link_to users_path do %>
      <div class="overflow-hidden rounded-lg bg-gray-100 border border-gray-200 shadow-sm hover:bg-gray-200">
        <div class="px-4 py-5 sm:p-6 h-80 flex flex-col justify-center items-center">
          <%= render(View::IconComponent.new(icon_type: "users", size: "large", color: "gray")) %>
          <div class="text-gray-800 text-2xl text-center mt-10"><%= I18n.t(".user.titles.index").downcase %></div>
        </div>
      </div>
    <% end %>
    
  </div>
</div>