<div>
  <%= render "shared/section_header", title: I18n.t('.dg_quality_log.titles.index'), icon: "certificate" %>

  <ul role="list" class="divide-y divide-gray-300 bg-white shadow-sm ring-1 ring-gray-900/5 rounded-lg border border-gray-100">
    <% if dg_quality_logs.blank? %>
      <li class="flex items-center justify-center px-3 py-6">
        <div class="text-base leading-6 text-gray-900">
          <%= I18n.t('.data_quality.messages.no_logs') %>
        </div>
      </li>
    <% else %>
      <% dg_quality_logs.each do |dg_quality_log| %>
        <% decorate dg_quality_log do |decorates| %>
          <li id="<%= dom_id(dg_quality_log) %>" class="flex items-center justify-between p-3">
            <div class="flex flex-row">
              <div class="w-24 flex flex-row justify-center"><%= decorates.result%></div>
              <div class="text-base leading-6 text-gray-900">
                <%= decorates.data_field(dg_quality_log.error_message) %>
              </div>
            </div>
            <div class="flex flex-none items-center gap-x-4 pt-1">
              <%= button_to dg_data_quality_read_path(dg_quality_log.id) do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#16a34a" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 12l2 2l4 -4" /></svg>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>