<% if @value.blank? %>
  <td class="<%= @align %> <%= @mobile %> px-2 py-1 h-9 whitespace-nowrap text-xs text-gray-900 truncate"></td>
<% else %>
  <td class="<%= @align %> <%= @mobile %> px-2 py-1 h-9 whitespace-nowrap text-xs text-gray-900 truncate">
    <%= @value %>
  </td>
<% end %>