<div data-designer-target="draggable" 
     data-attribute-id="<%= column['id'] %>"
     data-attribute-name="<%= @available_attributes[column['id'].to_sym][:name] %>"
     data-attribute-description="<%= @available_attributes[column['id'].to_sym][:description] %>"
     class="flex flex-row justify-between items-start h-16 p-2 bg-sky-100 rounded border border-sky-500 cursor-move">
  <div>
    <div class="text-sm font-medium"><%= @available_attributes[column['id'].to_sym][:name] %></div>
    <div class="text-xs text-gray-600"><%= @available_attributes[column['id'].to_sym][:description] %></div>
  </div>
</div>
